<div class='card mt-5'  style='width: 30rem; margin-right: auto; margin-left: auto'>
  <div class='card-header'>
  <h2>Sign up</h2>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class='field p-2'>
    <%= f.label :name, class: 'form-label' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class:'form-control' %>
  </div>

  <div class='field p-2'>
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class='field p-2'>
    <%= f.label :password, class: 'form-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'new-password', class:'form-control' %>
  </div>

  <div class='field p-2'>
    <%= f.label :password_confirmation, class: 'form-label'%><br />
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
  </div><br>

  <div class='actions p-2'>
    <%= f.submit 'Sign up', class: 'btn btn-secondary' %>
  </div>
<% end %>
  <div class='actions p-2'>
    <%= render 'devise/shared/links' %>
  </div>
</div>

